<app-default-login-layout
title="Login into your account"
primaryBtnText = "Login Now"
secondaryBtnText = "Signup Now"
(submit)="submit()"
>
<form [formGroup]="myForm">
    <app-primary-input
    formControlName="email"    
    inputName="email"    
    type="email"
    label="Email"
    placeholder="johndo@gmail.com"    
    >
        <img class="icone-email" src="../../../assets/img/email-icon.png" alt="Icone do e-mail" srcset="">
    </app-primary-input>

    <app-primary-input  
    formControlName="password"   
    inputName="password"    
    type="password"
    label="Your Password"       
    >
        <img class="icone-email" src="../../../assets/img/cadeado.png" alt="Icone do e-mail" srcset="">
    </app-primary-input>
    <span>Forgot password</span>
   
</form>
</app-default-login-layout>
