<app-default-login-layout
title="Login into your account"
primaryBtnText = "Login Now"
secondaryBtnText = "Signup Now"
>
<form [formGroup]="loginForm">
    <app-primary-input
    inputName="email"
    type="email"
    label="Email"
    placeholder="johndo@gmail.com"    
    >
        <img class="icone-email" src="../../../assets/img/email-icon.png" alt="Icone do e-mail" srcset="">
    </app-primary-input>

    <app-primary-input    
    inputName="password"
    type="password"
    label="Your Password"       
    >
        <img class="icone-email" src="../../../assets/img/cadeado.png" alt="Icone do e-mail" srcset="">
    </app-primary-input>
   
</form>
</app-default-login-layout>
