<main>
    <section class="form-section">
        <img src="/assets/img/logo.png" class="logo" alt="logo cabeça de robo">
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <button
         class="btn-primary" 
         (click)="submit()"
         [disabled]="disablePrimaryBtn"
         >

         {{ primaryBtnText }}

        </button>

        <span>Or</span>
        
        <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
    </section>
    <section class="main-section">
        <h1> Let's go guysl!</h1>
        <img src="/assets/img/main-ilustracao.png" class="ilustracao" alt="Desenho do robo">
    </section>
</main>